:root {
    --primary-color: #f50057;
    /* Vibrant Pink */
    --secondary-color: #ffffff;
    /* White */
    --background-color: #1d1d1d;
    /* Dark Gray Background */
    --message-bg-left: #2a2a2a;
    /* Darker Background for Left Messages */
    --message-bg-right: var(--primary-color);
    /* Right Message Background */
    --text-color: #e0e0e0;
    --white: #ffffff;
    /* White
    --border-color: #444; */
    --shadow-color: rgba(255, 0, 87, 0.2);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.chat-container {
    background-image: url('../../assets/background.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    position: fixed;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 350px;
    max-width: 100vw;
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: 0 4px 20px var(--shadow-color);
    overflow: hidden;
}
.settings{
    padding: 10px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.settings .fa{
    font-size: 20px;
    cursor: pointer;
}
.profile-img {
    cursor: pointer;
}

.profile-img img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.profile-img img:hover {
    transform: scale(1.1);
}

.heading {
    padding: 0.4rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    color: var(--secondary-color);
    position: relative;
}



.heading h1 {
    font-size: 1.4rem;
    font-weight: 600;
}

.chat-content {
    display: flex;
    /* border: 2px red solid; */
    flex: 1;
        backdrop-filter: blur(20px);
}

.message-content {
    /* border: 2px red solid; */
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.message-container {
    border-radius: 10px;
    max-height: 80vh;
    height: 78vh;
    overflow-y: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    scrollbar-width: none;
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}


.message {
    max-width: 100%;
    margin: 5px 0;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
}

.left { 
    align-self: flex-start;
    background-color: var(--message-bg-left);
    color: var(--text-color);
    width: fit-content;
    text-align: left;
    padding: 10px 15px;
    border-radius: 20px 20px 20px 0;
    border: 1px solid var(--border-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.right {
    align-self: flex-end;
    background-color: var(--message-bg-right);
    color: var(--secondary-color);
    text-align: right;
    padding: 10px 15px;
    border-radius: 20px 20px 0 20px;
    border: 1px solid var(--border-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.left:hover {
    transform: translateY(-2px);
    background-color: rgba(220, 220, 220, 0.3);
}

.right:hover {
    transform: translateY(-2px);
    background-color: rgba(245, 0, 87, 0.8);
}

.input-section {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0 1rem;
}

.form-input {
    border:3px rgb(199, 106, 106) solid;
    flex: 1;
    height: 45px;
    font-size: 1rem;
    border-radius: 25px;
    padding: 0 1.5rem 0 2.5rem;
    outline: none;
    background-color: var(--white);
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.form-input::placeholder {
    color: #120d0d;
}

.form-input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px var(--primary-color);
}

.input-section button {
    height: 45px;
    width: 140px !important;
    background-color: var(--primary-color);
    border: none;
    border-radius: 25px;
    color: var(--secondary-color);
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.input-section button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transform: scale(1.05);
}

.btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transform: scale(1.05);
}

.messages{
    /* border: 1px solid red; */
    width: 80%;
}

.user-details {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    min-width: 300px;
    background-color: var(--white);
    padding: 2rem;
    border-left: 1px solid var(--border-color);
    box-shadow: -2px 0 5px var(--shadow-color);
    overflow-y: auto;
    transition: transform 0.3s ease;
}

.user-details p {
    padding: 0.5rem 0;
    font-size: 1rem;
    text-align: left;
    color: black;
}

.search-div {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    position: relative;
}

.search-div input {
    width: 100%;
    height: 45px;
    padding: 0 1.5rem 0 2.5rem;
    border: 1px solid var(--border-color);
    border-radius: 25px;
    outline: none;
    background-color: var(--background-color);
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.search-div input::placeholder {
    color: #999;
}

.search-div input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px var(--primary-color);
}

.added-users {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    color: var(--text-color);
    background-color: rgb(24, 23, 23);
    /* border-radius: 8px; */
    overflow: hidden;
    width: 18%;
    backdrop-filter: blur(20px);
}
.added-users h3{
    text-align: left;
    padding: 5px 20px;
    color: rgb(247, 247, 247);
    font-size: 25px;
}

.added-user {
    display: flex;
    align-items: center;
    padding: 0.8rem 1.2rem;
    font-size: 1.1rem;
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.added-user:last-child {
    border-bottom: none;
}

.added-user:hover,
.added-user:focus,
.added-user.active {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.added-user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 1rem;
    transition: transform 0.3s ease;
}
.searched-user{
    margin: auto;
    gap: 20px;
    align-items: center;
    display: flex;
}
.searched-user button {
    width: 40px !important;
    height: 40px !important;
    padding:0px;
    border: none;
}
.searched-user button p{
    font-size: 50px;
    margin-top: -18px;
} 

.added-user img:hover {
    transform: scale(1.1);
}