:root {
    --primary-color: #f50057;
    --secondary-color: #ffffff;
    --background-color: #ffffff;
    --message-bg-left: #ffffff;
    --message-bg-right: var(--primary-color);
    --text-color: #333333;
    --white: #ffffff;
    --border-color: #ccc;
    --shadow-color: rgba(255, 0, 87, 0.2);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 350px;
    width: 95vw;
    max-width: 1400px;
    margin: auto;
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: 0 4px 20px var(--shadow-color);
    overflow: hidden;
}

.heading {
    padding: 0.3rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    position: relative;
}

.heading .profile-img {
    cursor: pointer;
}

.heading .profile-img img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    transition: transform 0.3s ease;
}

.heading .profile-img img:hover {
    transform: scale(1.1);
}

.heading h1 {
    font-size: 1.8rem;
    font-weight: 600;
}

.chat-content {
    display: flex;
    flex: 1;
    background: linear-gradient(135deg, #ece9e6, #ffffff);
}

.message-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.9);
}

.message-container {
    border-radius: 10px;
    background-color: rgba(176, 175, 173, 0.6);
    max-height: 70vh;
    height: 65vh;
    box-shadow: 0 4px 20px var(--shadow-color);
    overflow-y: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    scrollbar-width: none;
    transition: background-color 0.3s ease;
}

.message-container:hover {
    background-color: rgba(165, 165, 163, 0.8);
}

.message {
    max-width: 100%;
    margin: 5px 0;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
}
.left {
    align-self: flex-start;
    background-color: var(--message-bg-left);
    color: var(--text-color);
    width: fit-content;
    text-align: left;
    padding: 10px 15px;
    border-radius: 20px 20px 20px 0;
    border: 1px solid var(--border-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 5px 0;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.right {
    align-self: flex-end;
    background-color: var(--message-bg-right);
    color: var(--secondary-color);
    text-align: right;
    padding: 10px 15px;
    border-radius: 20px 20px 0 20px;
    border: 1px solid var(--border-color);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 5px 0;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.left:hover {
    transform: translateY(-2px);
    background-color: rgba(220, 220, 220, 0.8);
}

.right:hover {
    transform: translateY(-2px);
    background-color: rgba(245, 0, 87, 0.8);
}

.input-section {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0 1rem;
}

.form-input {
    flex: 1;
    height: 45px;
    font-size: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 25px;
    padding: 0 1.5rem 0 2.5rem;
    outline: none;
    background-color: var(--white);
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.form-input::placeholder {
    color: #999;
}

.form-input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px var(--primary-color);
}

.input-section button {
    height: 45px;
    width: 140px !important;
    background-color: var(--primary-color);
    border: none;
    border-radius: 25px;
    color: var(--secondary-color);
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.input-section button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transform: scale(1.05);
}

.btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transform: scale(1.05);
}

.user-details {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    min-width: 350px;
    background-color: var(--white);
    padding: 2rem;
    border-left: 1px solid var(--border-color);
    box-shadow: -2px 0 5px var(--shadow-color);
    overflow-y: auto;
    transition: transform 0.3s ease;
}

.user-details p {
    padding: 0.5rem 0;
    color: var(--text-color);
    font-size: 1rem;
    text-align: left;
}

.search-div {
    padding: 0 1rem;
    display: flex;
    align-items: center;
    position: relative;
}

.search-div input {
    width: 100%;
    height: 45px;
    padding: 0 1.5rem 0 2.5rem;
    border: 1px solid var(--border-color);
    border-radius: 25px;
    outline: none;
    background-color: var(--background-color);
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.search-div input::placeholder {
    color: #999;
}

.search-div input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px var(--primary-color);
}

.added-users {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--border-color);
    background-color: #f9f9f9;
    color: var(--text-color);
    border-radius: 8px;
    overflow: hidden;
    width: 25%;
}

.added-user {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0.8rem 1.2rem;
    font-size: 1.1rem;
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.added-user:last-child {
    border-bottom: none;
}

.added-user:hover,
.added-user:focus,
.added-user.active {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.added-user img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 1rem;
    transition: transform 0.3s ease;
}

.added-user img:hover {
    transform: scale(1.1);
}
.added-user button {
    width:fit-content !important;
    padding: 10px;
    border: none;
    /* background-color: var(--primary-color); */
    font-size: 1.2rem;

    
}

.searched-user {
    color: #333;
    display: flex;
    margin: auto;
    width: fit-content;
    align-items: center;
    justify-content: space-between;
}

.searched-user button {
    width: fit-content !important;
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    border-radius: 20px;
    color: var(--primary-color);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.searched-user button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    transform: scale(1.05);
}

.message-time {
    display: block;
    font-size: 0.75rem;
    color: black;
    text-align: right;
    margin-top: 5px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .chat-container {
        width: 100vw;
        border-radius: 0;
    }

    .heading {
        padding: 0.8rem 1.5rem;
    }

    .heading h1 {
        font-size: 1.5rem;
    }

    .user-details {
        display: none;
    }

    .chat-content {
        flex-direction: column;
    }

    .message-container {
        max-height: 60vh;
    }
}
